body{
margin:0;
font-family:'Open Sans','Noto Sans TC',sans-serif;
background:#ffffff;
color:#111;
}

h1,h2{
font-family:'Inter','Noto Sans TC',sans-serif;
}

p{
font-family:'Open Sans','Noto Sans TC',sans-serif;
}

/* HEADER */

.header{
position:fixed;
top:0;
left:0;
width:90%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
background:white;
z-index:9999;
transition:all 0.35s ease;
}

.header.small{
padding:15px 80px;
box-shadow:0 4px 20px rgba(0,0,0,0.08);
}

.logo{
font-size:24px;
font-weight:500;
transition:all 0.35s ease;
}

.header.small .logo{
font-size:20px;
}

.square{
width:12px;
height:12px;
background:#2f3f2f;
display:inline-block;
margin-right:10px;
}

nav{
display:flex;
align-items:center;
gap:25px;
}

nav a{
margin-left:5px;
text-decoration:none;
color:#333;
font-weight:300;
font-size:14px;
transition:opacity 0.3s ease;
}

nav a:hover{
opacity:0.6;
}

/* HERO */

.hero{
display:flex;
align-items:center;      /* 垂直置中 */
justify-content:center;  /* 水平置中 */
gap:100px;
padding-top:50px;
min-height:100vh;        /* 佔滿整個畫面高度 */
background:linear-gradient(
90deg,
#2f3f2f 1%,
#7d847d 15%,
#ffffff 40%
);

}

.hero{
display:flex;
align-items:center;
justify-content:center;
}


/* PROFILE CARD */

.profile-card{
display:flex;
gap:110px;
background:white;
padding:50px;
}

.card-left{
width:200px;
text-align:center;
padding-left:30px;
}

.card-left h2{
font-weight:600;
}

.card-left p{
font-weight:300;
letter-spacing:3px;
}

.english-name{
font-weight:800;
}

.card-left img{
width:200px;
height:200px;
border-radius:50%;
object-fit:cover;
object-position:-25px;
}

.card-right{
max-width:520px;
}

.card-right h1{
font-size:100px;
margin:1px;
font-weight:900;
}

.card-right h2{
margin-top:20px;
font-weight:500;
margin:0;
}

.card-right p{
margin-top:30px;
line-height:1.7;
color:#555;
}

.line{
width:40px;
height:2px;
background:black;
margin:20px auto;
}


/* INTRO */

.intro{
max-width:520px;
}

.intro h1{
font-size:90px;
font-weight:600;
margin:0;
}

.intro h2{
margin-top:20px;
font-size:22px;
}

.intro p{
margin-top:30px;
line-height:1.7;
color:#555;
}

.button{
display:inline-block;
margin-top:30px;
padding:7px 35px;
background:#2f3f2f;
color:white;
border-radius:30px;
text-decoration:none;
font-weight:300;
font-size: 14px;
transition:all 0.3s ease;
}

.button:hover{
background:#3c5240;
transform:translateY(-2px);
}

/* FOOTER */

.footer{
width:90%;
}

.footer{
display:flex;
justify-content:space-between;
align-items:flex-start;
flex-wrap:wrap;
max-width:1400px;
margin:0 auto;
padding:25px 20px;
background:#ffffff;
font-size:14px;
color:#555;
}

.footer-right{
display:flex;
gap:60px;
flex-wrap:wrap;
}

.footer-left p{
margin-bottom:10px;
font-weight:300;
}

.contact h4{
margin-bottom:10px;
font-weight:400;
}

.contact p{
margin-bottom:10px;
font-weight:300;
}

.contact a{
text-decoration:none;
color:#333;
}

.contact a:hover{
text-decoration:underline;
}


/* MOBILE */

@media (max-width:900px){

.profile-card{
flex-direction:column;
align-items:center;
}

.card-right{
text-align:center;
}

}
