body{
margin:0;
font-family:'Open Sans','Noto Sans TC',sans-serif;
background:#ffffff;
color:#111;
}

h1,h2{
font-family:'Inter','Noto Sans TC',sans-serif;
}

p{
font-family:'Open Sans','Noto Sans TC',sans-serif;
}

/* HEADER */

.header{
position:fixed;
top:0;
left:0;
width:90%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 80px;
background:white;
z-index:9999;
transition:all 0.35s ease;
}

.header.small{
padding:15px 80px;
box-shadow:0 4px 20px rgba(0,0,0,0.08);
}

.logo{
font-size:24px;
font-weight:500;
transition:all 0.35s ease;
}

.header.small .logo{
font-size:20px;
}

.square{
width:12px;
height:12px;
background:#2f3f2f;
display:inline-block;
margin-right:10px;
}

nav{
display:flex;
align-items:center;
gap:25px;
}

nav a{
margin-left:5px;
text-decoration:none;
color:#333;
font-weight:300;
font-size:14px;
transition:opacity 0.3s ease;
}

nav a:hover{
opacity:0.6;
}

/* HERO */

.hero{
display:flex;
align-items:center;      /* 垂直置中 */
justify-content:center;  /* 水平置中 */
gap:100px;
padding-top:50px;
min-height:100vh;        /* 佔滿整個畫面高度 */
background:linear-gradient(
90deg,
#2f3f2f 1%,
#7d847d 15%,
#ffffff 40%
);

}

.hero{
display:flex;
align-items:center;
justify-content:center;
}


/* PROFILE CARD */

.profile-card{
display:flex;
gap:110px;
background:white;
padding:50px;
}

.card-left{
width:200px;
text-align:center;
padding-left:30px;
}

.card-left h2{
font-weight:600;
}

.card-left p{
font-weight:300;
letter-spacing:3px;
}

.english-name{
font-weight:800;
}

.card-left img{
width:200px;
height:200px;
border-radius:50%;
object-fit:cover;
object-position:-25px;
}

.card-right{
max-width:520px;
}

.card-right h1{
font-size:100px;
margin:1px;
font-weight:900;
}

.card-right h2{
margin-top:20px;
font-weight:500;
margin:0;
}

.card-right p{
margin-top:30px;
line-height:1.7;
color:#555;
}

.line{
width:40px;
height:2px;
background:black;
margin:20px auto;
}


/* INTRO */

.intro{
max-width:520px;
}

.intro h1{
font-size:90px;
font-weight:600;
margin:0;
}

.intro h2{
margin-top:20px;
font-size:22px;
}

.intro p{
margin-top:30px;
line-height:1.7;
color:#555;
}

.button{
display:inline-block;
margin-top:30px;
padding:7px 35px;
background:#2f3f2f;
color:white;
border-radius:30px;
text-decoration:none;
font-weight:300;
font-size: 14px;
transition:all 0.3s ease;
}

.button:hover{
background:#3c5240;
transform:translateY(-2px);
}

/* FOOTER */

.footer{
width:90%;
}

.footer{
display:flex;
justify-content:space-between;
align-items:flex-start;
flex-wrap:wrap;
max-width:1400px;
margin:0 auto;
padding:25px 20px;
background:#ffffff;
font-size:14px;
color:#555;
}

.footer-right{
display:flex;
gap:60px;
flex-wrap:wrap;
}

.footer-left p{
margin-bottom:10px;
font-weight:300;
}

.contact h4{
margin-bottom:10px;
font-weight:400;
}

.contact p{
margin-bottom:10px;
font-weight:300;
}

.contact a{
text-decoration:none;
color:#333;
}

.contact a:hover{
text-decoration:underline;
}

/* BLOG PAGE */

.blog{
padding:160px 120px;
max-width:1100px;
margin:auto;
}

.blog-title{
font-size:60px;
margin-bottom:60px;
}

.blog-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:40px;
}

.blog-card{
background:white;
padding:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.blog-card img{
width:100%;
padding:0px;
margin-bottom:20px;
}

.blog-card h3{
margin-top:0;
margin-bottom: 5px;
}

.blog-card p{
color:#555;
line-height:1.6;
margin-top:0; 
}

.blog-card a{
text-decoration:none;
color:#2f3f2f;
font-weight:600;
}

/* POST PAGE */

.post{
max-width:750px;
margin:140px auto;
padding:60px;
padding-left: 100px;
padding-right: 100px;
background:white;
box-shadow:0 20px 40px rgba(0,0,0,0.08);
}


/* 文章標題 */

.post h1{
font-size:42px;
font-weight: 500;
margin-top:0;
margin-bottom:0px;
}


/* 日期或副標題 */

.post .post-meta{
color:#888;
font-size:14px;
margin-top:5px;
margin-bottom:20px;
text-indent: 0;
}


/* 文章圖片 */

.post img{
width:100%;
margin:5px 0 0 0;
}


/* 段落 */

.post p{
line-height:1.6;
color:#444;
margin:0;
font-size: 18px;
font-weight: 300;
text-indent: 2em;
text-align: justify;
}

.post p.info{
line-height:1.6;
color:#444;
margin:0;
font-size: 18px;
font-weight: 300;
text-indent: 0;
}


/* 小標題 */

.post h2{
font-size: 20px;
font-weight: 600;
margin:0 0 1px 0;
text-indent: 0;
}


/* 引用 */

.post blockquote{
border-left:4px solid #2f3f2f;
padding-left:15px;
color:#555;
margin:20px 0;
}


/* 返回按鈕 */

.post-back{
display:inline-block;
margin-top:40px;
padding:10px 22px;
background:#2f3f2f;
color:white;
border-radius:25px;
text-decoration:none;
font-weight:600;
}

/* 目錄 */

.layout{
  display:flex;
  max-width:1100px;
  margin:auto;
}

/* 桌機版側邊目錄 */

.toc{
  position:fixed;
  left:0;
  top:120px;
  width:100px;
  background:rgba(255,255,255,0.6);
  backdrop-filter:blur(8px);  padding:15px;
  transform:translateX(-100%);
  transition:0.3s;
}

.toc.open{
  transform:translateX(0);
}

.toc-toggle{
  position:fixed;
  left:16px;
  top:120px;
  z-index:1000;
  padding:8px 14px;
  font-size:16px;
  color:#333;
  background:transparent;
  border:1px solid transparent;
  border-radius:8px;
  cursor:pointer;
  transition:all .2s;
}


.toc ul{
  list-style:none;
  padding-left:0;
}

.toc li{
  margin-bottom:5px;
}

.toc a{
  text-decoration:none;
  color:#444;
}

.post{
  flex:1;
}

/* 表格基本樣式 */
.gear-table{
  width:100%;
  border-collapse:collapse;
  font-size:16px;
  line-height:1.6;
}

/* 表格格線 */
.gear-table th,
.gear-table td{
  border:1px solid #ddd;
  padding:12px;
  vertical-align:top;
}

/* 表頭 */
.gear-table th{
  background:#f5f5f5;
  text-align:center;
  font-weight: bold;
}

/* 文字欄位 */
.gear-table td{
  text-align:left;
  font-weight: 300;
}

/* 手機可滑動 */
.table-wrapper{
  overflow-x:auto;
}

/* 手機版 */

@media (max-width:768px){

  .layout{
    display:block;
  }

  .toc{
    width:100%;
    position:relative;
    margin-bottom:20px;
  }

}

html{
  scroll-behavior:smooth;
}

h2{
  scroll-margin-top:80px;
}

/* 行程比對 */

.route-table td{
vertical-align: top;
line-height: 1.6;
}

.time{
font-weight:700;
}

.camp{
background:#e8f5e9;
color:#2e7d32;
padding:2px 6px;
border-radius:4px;
font-weight:600;
}

.water{
background:#e3f2fd;
color:#1976d2;
padding:2px 6px;
border-radius:4px;
font-weight:600;
}

.break{
background:#fff3e0;
color:#e65100;
padding:2px 6px;
border-radius:4px;
font-size:0.9em;
}

/* MOBILE */

@media (max-width:900px){

.profile-card{
flex-direction:column;
align-items:center;
}

.card-right{
text-align:center;
}

}
